@import "~normalize.css";

// variables ---

$black: #000;
$white: #fff;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif; // Check if it works on mobile ,
  // font-weight: 400;
  // font-size: 16px;
  // color: $white;

  // min-width: 320px;
}

.container {
  max-height: 100vh;
  overflow: hidden;
  user-select: none;
}

.content {
  // transform: translateY(-2000px);
  touch-action: none;
}

.transitioned {
  transition: all 500ms cubic-bezier(0.38, 0.09, 0.43, 1.18) 0s !important;
}

.section {
  &__1 {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__2 {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__3 {
    background-color: white;
  }
}

.sections-controls {
  position: fixed;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;

  overflow: visible;
  z-index: 10;

  &__option {
    position: relative;
    cursor: pointer;
    height: 30px;
    width: 40px;

    /* &:not(:last-child) {
      margin-bottom: 5px;
    } */

    &:hover {
      &::after {
        transform: translate(-50%, -50%) scale(1.8);
      }
    }

    &.active {
      &::after {
        transform: translate(-50%, -50%) scale(2.5);
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      height: 7px;
      width: 7px;
      background-color: white;
      transform-origin: center;
      transition: all 50ms linear;
    }
  }
}

.slider-container {
  overflow: hidden;
  position: relative;
}

.slider-controls {
  height: 15px;
  width: 200px;
  left: 50%;
  bottom: 50px;
  position: absolute;
  background-color: grey;
  z-index: 10;
  transform: translateX(-50%);
  position: relative;
  border-radius: 7.5px;

  &__knob {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: none;
  }
}

.slider-track {
  display: flex;
  transition: none;
}

.slider-item {
  &__1 {
    background-color: orchid;
  }

  &__2 {
    background-color: rgb(139, 51, 139);
  }

  &__3 {
    background-color: maroon;
  }
}

.transitioned {
  transition: all 500ms cubic-bezier(0.38, 0.09, 0.43, 1.18) 0s !important;
}
